@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.calculator {
    &__display {
        display: flex;
        color: #e9e9e9;
        font-size: 37px;
        font-family: 'Roboto', sans-serif;
        align-items: flex-end;
        justify-content: center;
        background-color: #434344;
        border-radius: 15px 15px 0 0;
        width: 380px;
        height: 160px;
    }
    &__container {
    }
    &__buttons {
        display: grid;
        grid-template-columns: repeat(4, 95px);
        grid-template-rows: repeat(5, 95px);
    }
}

.button {
    &__operator {
        &--colour {
            background-color: #f0a23b;
            @extend .button-style;
        }
    }
    &__number {
        &--colour {
            background-color: #717172;
            @extend .button-style;
        }
        &--corner {
            border-radius: 0px 0px 0px 15px;
        }
    }
    &__zero {
        &--size {
            grid-column: 1 / span 2;
        }
    }
    &__equal {
        &--corner {
            background-color: #f0a23b;
            border-radius: 0px 0px 15px;
            @extend .button-style;
        }
    }
    &__other {
        &--colour {
            background-color: #555556;
            @extend .button-style;
        }
    }
}

.button-style {
    color: #e9e9e9;
    font-size: 40px;
    font-weight: 400;
    padding: 0;
    border: 1px solid #434344;
}
